<footer class="fixed-bottom bg-info text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Endereço -->
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <strong>Endereço:</strong> Rua Noel Nutels, 304 - São Bernardo do Campo / SP
            </div>

            <!-- Contato -->
            <div class="col-md-4 text-center mb-3 mb-md-0">
                <strong>WhatsApp:</strong> (11) 99585-8890
            </div>

            <!-- Mídias sociais -->
            <div class="col-md-2 text-center text-md-right">
                <a href="https://wa.me/5511995858890" target="_blank" class="text-white mx-2">
                    <i class="fab fa-whatsapp fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/ibjordanopolis/" target="_blank" class="text-white mx-2">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="http://www.youtube.com/c/IgrejaBatistadeJordan%C3%B3polis" target="_blank" class="text-white mx-2">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
            </div>
        </div>

        <hr class="bg-white">

        <!-- Copyright -->
        <div class="text-center mt-3">
            &copy; {% now "Y" %} Igreja Batista de Jordanópolis. Todos os direitos reservados.
        </div>
    </div>
</footer>
