{% extends "base.html" %}
{% block content %}
<h2 style="text-align: center; color: #003366;">PRODUTOS</h2>
<div style="text-align: center; margin-bottom: 20px;">
    <form action="" method="GET" class="search-form">
        <input type="text" name="busca" placeholder="Buscar por nome" class="search-input" />
        
        <select name="categoria" class="search-select">
            <option value="">Todas as categorias</option>
            {% for cat in categories %}
                <option value="{{ cat.name }}">{{ cat.name }}</option>
            {% endfor %}
        </select>
        
        <button type="submit" class="search-button">Buscar</button>
    </form>
</div>
    <style>
        /* Estilos para o formulário de busca */
        .search-form {
            display: inline-block;
        }
        .search-input {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 250px;
        }
        .search-select {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            padding: 8px;
            margin-left: 5px;
            background-color: #003366;   /* Mesma cor da barra de navegação */
            color: #fff;
            border: none;
            border-radius: 4px;
        }
        .search-button {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            padding: 8px 16px;
            margin-left: 5px;
            border: none;
            background-color: #003366;  /* Mesma cor da barra de navegação */
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }
        .search-button:hover {
            background-color: #002244;
        }
        /* Estilos para a grid de produtos */
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            gap: 20px;
        }
        .grid-item {
            text-align: center;
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
    <div class="grid-container">
        {% for item in lista_itens %}
            <div class="grid-item">
                {% if item.image_set.exists %}
                    <img src="{{ item.image_set.first.image.url }}" alt="{{ item.name }}" style="max-width:150px;">
                {% else %}
                    <p>Imagem não disponível</p>
                {% endif %}
                <p>
                    Nome: {{ item.description }} <br>
                    Preço: R$ {{ item.price }} <br>
                    Categoria: {{ item.category }}
                </p>
            </div>
        {% empty %}
            <p>Nenhum item disponível.</p>
        {% endfor %}
    </div>
{% endblock content %}