{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 mx-auto mb-3">
        <h2>QUEM SOMOS</h2>
        <hr />
        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis atque laboriosam, recusandae ipsa optio distinctio nostrum ullam odio dolor inventore quos voluptates accusantium quis magnam velit ex! Ipsa, impedit deserunt?</p>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto omnis numquam officia esse ratione distinctio aliquid consequuntur ipsa veniam fuga possimus rerum, quam, explicabo neque minus dolor sit perferendis itaque?</p>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque repudiandae dicta saepe placeat neque obcaecati assumenda temporibus nihil, sequi doloremque facilis quis cum officia, odit, ea deleniti quae in dolorum.</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/foto_bazar.jpg' %}" class="max-width-100" alt="Foto do bazar" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
