{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4 mx-auto mb-3">
        <h2>QUEM SOMOS</h2>
        <hr />
        <p class="text-justify">&nbsp;&nbsp;&nbsp;&nbsp;O Bazar IBJ é uma iniciativa solidária com um propósito missionário. Através da venda de roupas, sapatos, acessórios, brinquedos, dentre outras coisas, arrecadamos recursos para apoiar projetos de missões, levando amor, cuidado e a mensagem de Jesus a quem mais precisa. Cada doação e cada compra ajudam a transformar vidas!</p>
      </div>
      <div class="col-md-8 mx-auto mb-3 text-center">
        <img src="{% static 'img/fachada_bazar.jpeg' %}" width="100%" alt="Fachada bazar" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col md-12">
        <img src="{% static 'img/produtos_bazar_06.jpeg' %}" alt="produtos_bazar_06" class="img-fluid" width="100%">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col md-4">
        <img src="{% static 'img/produtos_bazar_01.jpeg' %}" alt="produtos_bazar_01" class="img-fluid" width="100%">
      </div>
      <div class="col-md-4">
        <img src="{% static 'img/produtos_bazar_02.jpeg' %}" alt="produtos_bazar_02" class="img-fluid" width="100%">
      </div>
      <div class="col-md-4">
        <img src="{% static 'img/produtos_bazar_03.jpeg' %}" alt="produtos_bazar_03" class="img-fluid" width="100%">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 mb-3">
        <img src="{% static 'img/produtos_bazar_04.jpeg' %}" alt="produtos_bazar_04" class="img-fluid" width="100%">
      </div>
      <div class="col-md-6">
        <img src="{% static 'img/produtos_bazar_05.jpeg' %}" alt="produtos_bazar_05" class="img-fluid" width="100%">
      </div>
    </div>
  </div>
</div>
{% endblock content %}
