{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-3">
            <h2>CADASTRO</h2>
            <hr />
        </div>
    </div>
    <form action="/users/cadastro/" method="post">
        {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-md-4 mb-3">
                <h4>Dados de acesso</h4>
            </div>
            <div class="col-md-4 mb-3">
                <h4>Dados pessoais</h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4">
                <label for="id_username">{{ forms.username.label}}</label>
                {{ forms.username}}
            </div>
            <div class="col-md-4">
                <label for="id_first_name">{{ forms.first_name.label }}</label>
                {{ forms.first_name }}
            </div>
            <div class="col-md-4">
                <label for="id_phone_number">{{ forms.phone_number.label }}</label>
                {{ forms.phone_number }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4">
                <label for="id_email">{{ forms.email.label }}</label>
                {{ forms.email }}      
            </div>
            <div class="col-md-4">
                <label for="id_last_name">{{ forms.last_name.label }}</label>
                {{ forms.last_name }}
            </div>
            <div class="col-md-4">
                <label for="id_gender">{{ forms.gender.label }}</label>
                {{ forms.gender }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4">
                <label for="id_password">{{ forms.password.label}}</label>
                {{ forms.password}}
            </div>
            <div class="col-md-4">
                <label for="id_cpf">{{ forms.cpf.label }}</label>
                {{ forms.cpf }}
            </div>
            <div class="col-md-4">
                <label></label>
                <div class="form-check mb-3">
                    {{ forms.privacy_police }}
                    <label for="id_privacy_police" class="form-check-label">{{ forms.privacy_police.label }}</label>
                </div>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-md-4">
                <label for="id_password_confirmation">{{ forms.password_confirmation.label}}</label>
                {{ forms.password_confirmation}}
            </div>
            <div class="col-md-4">
                <label for="id_birthday">{{ forms.birthday.label }}</label>
                {{ forms.birthday }}
            </div>
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary w-100">CADASTRAR</button>
            </div>
        </div>
    </form>
    
    {% if forms.errors %}
    <ul class="list-group text-center">
        {% for field in forms %}
            {% for error in field.errors %}
                <li class="list-group-item list-group-item-danger">{{ error }}</li>
            {% endfor %}
        {% endfor %}

        {% for error in forms.non_field_errors %}
            <li class="list-group-item list-group-item-danger">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
</div>

{% endblock content %}
